aiofiles
aiohttp
aioshutil
anytree
apscheduler
beautifulsoup4
cinemagoer
cloudscraper
cryptography
fastapi
feedparser
flask
gevent
greenlet
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes
language-data
jinja2
lk21
lxml
markdown
motor
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
pyrotgfork
pytgcrypto
python-magic
pytz
qbittorrent-api
requests
setuptools<70
speedtest-cli
telegraph
tenacity
tzlocal
urllib3
uvicorn
uvloop
yt-dlp[default,curl-cffi]
python-dotenv
